<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "News", 'http://shannongray.com/' %></li>
			<li><%= link_to "Fun Stuff", 'http://shannongray.com/' %></li>
		</ul>
	</nav>
</footer>